@page
@model soft20181_starter.Pages.EventDetailsModel
@{
    ViewData["Title"] = "Event Details page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/EventDetails.css" asp-append-version="true"/>
}

<h1>Event Details</h1>

<section class="searchquery">
    <form method="get" asp-page="EventDetails">
    <input type="text" name="searchQuery" placeholder="Search events..." value="@Model.SearchQuery" />
    <button type="submit">Search</button>
</form>
</section>

<section class="grid">
    @foreach (var ev in Model.Events)
    {
        <a id="@ev.Id" style="margin-top: -40px;"></a>
        <div class="eventdetails-section">
            <h3>@ev.Title</h3>
            <img class="eventImages" src="@ev.ImagePath" alt="Event 1 Image">
            <video width="300" height="200" controls>
                <source src="@ev.VideoPath" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>Location: @ev.Location</p>
            <p>Date: @ev.Date</p>
            <p>Time: @ev.Time</p>
            <span class="descr">Description: <br><br> @ev.Description <a class="descr" href="@ev.Website">More Info</a></span>
        </div>
    }
</section>