@page
@model soft20181_starter.Pages.ManageUserModel
@{
	ViewData["Title"] = "User Management";
}

@section Styles {
	<link rel="stylesheet" href="~/css/ManageUser.css" asp-append-version="true" />
}

<h1>Manage Users</h1>

<section>
	<h2>User List</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var usr in Model.users)
			{
				<tr>
					<td>@usr.Id</td>
					<td>@usr.FirstName</td>
					<td>@usr.LastName</td>
					<td>@usr.Email</td>
					<td>@usr.PhoneNumber</td>
					<td>
						<!-- Delete Form -->
						<form method="post" asp-page-handler="Delete" asp-route-id="@usr.Id" style="display:inline">
							<button type="submit" class="btn btn-sm btn-danger">Delete User</button>
						</form>

						<!-- Update Form -->
						<form method="post" asp-page-handler="Update" asp-route-id="@usr.Id">
							<input asp-for="PasswordString" class="form-control"/>
							<span asp-validation-for="PasswordString" class="text-danger"></span>
							<input type="submit" value="Update Password" class="btn btn-default" />
						</form>

						<!-- Change Role Form -->
						<form method="post" asp-page-handler="ChangeRole" asp-route-id="@usr.Id">
							<select asp-for="SelectedRole" asp-items='new SelectList(Model.roles, "Name", "Name")' class="form-select form-select-sm mb-1">
								<option disabled selected>-- Select Role --</option>
							</select>
							<button type="submit" class="btn btn-sm btn-primary">Change Role</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</section>